* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	font-variation-settings: "wdth" 100;
}

body > header {
	background-image: url("../Assets/Hero-bg.png");
	background-size: cover;
	background-repeat: no-repeat;
}

body > main {
	background-color: #f5f8ff;
}

.max-width {
	max-width: 1240px;
	margin: 0 auto;
}

.full-width {
	width: 100%;
}

.primary-color {
	color: #4e47ff;
}

.btn {
	background-color: #4e47ff;
	color: white;
	border-radius: 6px;
	padding: 8px 16px;
	font-weight: 700;
	border-color: #4e47ff;
	text-align: center;
}

.btn:hover {
	cursor: pointer;
	background-color: white;
	color: #4e47ff;
}
/* -------------------------------------------------------- header */
.header-nav {
	display: flex;
	justify-content: space-between;
	padding: 32px 0;
}

.header-nav h2 {
	color: #4e47ff;
	font-size: 24px;
	font-weight: 800;
	cursor: pointer;
}

.header-banner {
	text-align: center;
	padding: 96px 0;
	padding-top: 48px;
}

.header-banner h1 {
	font-size: 36px;
	margin-bottom: 16px;
}

/* ------------------------------------------------------- action */
.action-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 96px 0;
	padding-top: 48px;
}

.action-content h3 {
	font-size: 32px;
}
.action-content p {
	color: #0000007c;
	margin: 16px 0;
}

.action-img img {
	border-radius: 36px;
}

/* -------------------------------------------------------- productive */
.productive-section {
	background-color: #e4e6ff;
	text-align: center;
	padding: 48px 0;
	border-radius: 16px;
}
.productive-section h3 {
	font-size: 24px;
	margin-bottom: 24px;
}
.productive-content {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}
.productive-content h4 {
	font-size: 64px;
	color: #4e47ff;
}
.productive-content p {
	color: #0000008c;
}
