* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	font-variation-settings: "wdth" 100;
}

body > header {
	background-image: url("Assets/Hero-bg.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.max-width {
	max-width: 1240px;
	margin: 0 auto;
}

.header nav {
	display: flex;
	justify-content: space-between;
}
